#ignore pycache
*.pyc
#ignore data folder
find . -name "data" -prune -o -name "*.pyc" -exec rm -rf {} \;
find . -name "data" -prune -o -name "*.npy" -exec rm -rf {} \;
#ignore models
find . -name "saved_models" -prune -o -name "*.pth" -exec rm -rf {} \;
saved_models/